body {
  margin: 0;
  background: #334252;
}

.instructions {
  border: 1px solid #f6f6f6;
  width: 60%;
  padding: 50px 100px;
  font-size: 1.5rem;
  position: relative;
  border-radius: 5px;
  margin: 0;
}

.title-card {
  z-index: 2;
}

ol li {
  margin-bottom: 15px;
  font-family: "Ubuntu Mono", monospace;
}

#to-play {
  font-size: 2rem;
  border: 1px solid #f6f6f6;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 3%;
}

#to-play:hover {
  background: #f6f6f6;
  color: #334252;
  transform: scale(1.2);
}

.default {
  border: 1px solid #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #334252;
  font-family: "Press Start 2P", cursive;
  color: #f6f6f6;
  width: 80%;
  height: 100%;
  position: absolute;
  margin-left: 10%;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 1;
}

.hide-game {
  opacity: 0;
  z-index: -1;
}

.close {
  position: absolute;
  width: 80%;
  height: 0;
  background: #334252;
  left: 10%;
  z-index: 2;
}

.close-t {
  top: 0;
}

.close-b {
  bottom: 0;
}

.top {
  top: 0;
  border-bottom: 1px solid #f6f6f6;
  animation: closing 2s;
}

.bottom {
  bottom: 0;
  border-top: 1px solid #f6f6f6;
  animation: closing 2s;
}

.title {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  margin: 0 0 6% 0;
  line-height: 3;
  background: #f6f6f6;
  color: #334252;
}

.container {
  position: relative;
}

.small-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #f6f6f6;
}

.row {
  display: flex;
}

.btn {
  border: 10px double #f6f6f6;
  display: block;
  height: 250px;
  width: 250px;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}

.btn:disabled:hover{
  cursor: initial;
  filter: none;
}

.btn:hover {
  filter: brightness(0.4);
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  background: rgba(11, 1, 0, 0.9);
  opacity: 1;
  z-index: 1;
}

h1.game-over-text {
  margin: 0 0 30px 0;
}

span.game-over-text {
  padding: 20px;
  border: 1px solid #f6f6f6;
  font-size: 1.5rem;
  cursor: pointer;
}

span.game-over-text:hover {
  background: #f6f6f6;
  color: #334252;
}

.dim {
  opacity: 0;
  z-index: -1;
}

#right-color {
  width: 50%;
  line-height: 1.5;
}

.red {
  background-color: red;
  border-radius: 0 100% 0 0;
}

.text-color-red {
  color: red;
}

.green {
  background-color: #54e346;
  border-radius: 100% 0 0 0;
}

.text-color-green {
  color: #54e346;
}

.blue {
  background-color: blue;
  border-radius: 0 0 100% 0;
}

.text-color-blue {
  color: blue;
}

.yellow {
  background-color: #ffd31d;
  border-radius: 0 0 0 100%;
}
.text-color-yellow {
  color: #ffd31d;
}

.pressed {
  transform: scale(1.2);
  transition: 50ms;
}

.flash {
  animation: flash 100ms;
}

@keyframes flash {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0);
  }
}

@keyframes closing {
  0%,
  100% {
    height: 0;
  }
  50% {
    height: 50%;
  }
}
